[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = ros1-legacy
[submodule "src/Universal_Robots_ROS_Driver"]
	path = src/Universal_Robots_ROS_Driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver.git
[submodule "src/universal_robot"]
	path = src/universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
	branch = melodic-devel
[submodule "src/image_pipeline"]
	path = src/image_pipeline
	url = https://github.com/vetletj/image_pipeline.git
	branch = noetic
[submodule "src/easy_aruco"]
	path = src/easy_aruco
	url = https://github.com/marcoesposito1988/easy_aruco
[submodule "src/depthai-ros"]
	path = src/depthai-ros
	url = https://github.com/vetletj/depthai-ros.git
	branch = noetic
[submodule "src/easy_handeye"]
	path = src/easy_handeye
	url = https://github.com/IFL-CAMP/easy_handeye.git
