<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

	<!-- Create yaml file with measurements for the fixed_gripper-->
	<xacro:property name="file"    value="$(find thtr_robot_env)/urdf/inc/cameras/cam_info.yaml"/>
  <xacro:property name="measurements"   value="${xacro.load_yaml(file)}"/>

	<!-- measurements for camera dimensions-->
  <xacro:property name="camera" value="${measurements['dimensions']}"/>

  <!-- Create yaml file with calibration transform for the fixed camera-->
	<xacro:property name="file"    value="$(find thtr_robot_env)/urdf/inc/cameras/easy_handeye_eye_on_base.yaml"/>
  <xacro:property name="cali_measurements"   value="${xacro.load_yaml(file)}"/>
    
  <!-- measurements for camera coordinates-->
  <xacro:property name="coords" value="${cali_measurements['transformation']}"/>
    
<xacro:macro name="fixed_cam" params="base">
	<link name="OAK_camera">
		<visual>
			<geometry>
    				<box size="${camera['length']} ${camera['width']} ${camera['height']}"/>
    			</geometry>
    			<material name="silver"/>
		</visual>
		<collision>
			<geometry>
    				<box size="${camera['length']} ${camera['width']} ${camera['height']}"/>
    			</geometry>
		</collision>
	</link>
	
	<joint name="camera_to_world" type="fixed">
		<origin xyz="${coords['x']} ${coords['y']} ${coords['z']}" rpy="${-pi} 0 0"/>
		<parent link="${base}" />
      		<child link="OAK_camera" />
	</joint>
	
	<link name="camera_stand2">
		<visual>
			<geometry>
    				<cylinder radius="0.02" length="1.0"/>
    			</geometry>
    			<material name="black"/>
		</visual>
		<collision>
			<geometry>
    				<cylinder radius="0.02" length="0.9"/>
    			</geometry>
		</collision>
	</link>
	
	<joint name="stand2_to_camera" type="fixed">
		<origin xyz="0 -0.5 0" rpy="-${pi/2.0} 0 0"/>
      		<parent link="OAK_camera" />
      		<child link="camera_stand2" />
    	</joint>

	<link name="camera_stand1">
		<visual>
			<geometry>
    			<cylinder radius="0.02" length="1.6"/>
    		</geometry>
    		<material name="black"/>
		</visual>
		<collision>
			<geometry>
    			<cylinder radius="0.01" length="1.55"/>
    		</geometry>
		</collision>
	</link>
	
    <joint name="stand1_to_stand2" type="fixed">
    	<origin xyz="0 -0.78 -0.49" rpy="${pi/2.0} 0 0"/>
      <parent link="camera_stand2" />
      <child link="camera_stand1" />
    </joint> 

</xacro:macro>
</robot>
