<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

	<xacro:macro name="gripper_cam" params="base">
	
		<xacro:property name="file" value="$(find thtr_robot_env)/urdf/inc/cameras/cam_info.yaml"/>
  	<xacro:property name="measurements" value="${xacro.load_yaml(file)}"/>

		<!-- measurements for camera dimensions-->
    <xacro:property name="camera" value="${measurements['dimensions']}"/>
    
    <!-- measurements for camera coordinates-->
    <xacro:property name="coords" value="${measurements['cam2_coords']}"/>

		<link name="camera_mount">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
          <box size="0.12 0.045 0.02"/>
       	</geometry>
       	<material name="black"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
          <box size="0.11 0.044 0.019"/>
       	</geometry>
			</collision>
		</link>
		
		<joint name="camera_mount_to_pneumatic valve" type="fixed">
      <!-- default toolframe - X+ left, Y+ up, Z+ front -->
      <origin xyz="0 -0.11 -0.04" rpy="0 0 ${pi/2.0}"/>
      <parent link="${base}"/>
      <child link="camera_mount"/>
    </joint>
    
    <link name="OAK_camera_2">
		<visual>
			<geometry>
    				<box size="${camera['length']} ${camera['width']} ${camera['height']}"/>
    			</geometry>
    			<material name="silver"/>
		</visual>
		<collision>
			<geometry>
    				<box size="${camera['length']} ${camera['width']} ${camera['height']}"/>
    	</geometry>
		</collision>
	</link>
	
	<joint name="camera_to_mount" type="fixed">
		<origin xyz="${coords['x']} ${coords['y']} ${coords['z']}" rpy="0 0 ${pi/2.0}"/>
		<parent link="camera_mount" />
    <child link="OAK_camera_2" />
	</joint>

	</xacro:macro>
</robot>
